<h3 class="text-uppercase text-center">{{ headerText[state] }}</h3>
<form #form='ngForm' (ngSubmit)="handleFormSubmit()">
  <div>
    <label>First Name:</label>
    <input type="text"
           minlength="2"
           name="firstName"
           required
           [ngModel]="state === 'add' ? newAuthor.firstName : author.firstName"
           (ngModelChange)="state === 'add' ? newAuthor.firstName = $event : author.firstName = $event"
           #firstNameControl='ngModel'
           appCustomValidation
           [validationType]="'text'"
           [disabled]="state === 'view'"
    />
    <ng-container *ngIf="firstNameControl.invalid && firstNameControl.touched">
      <div *ngIf="firstNameControl.errors?.['required']; else invalidTextError">
        You must enter a value.
      </div>
      <ng-template #invalidTextError>
        <div *ngIf="firstNameControl.errors?.['invalidText']; else minlengthError">
          Please enter a valid name.
        </div>
      </ng-template>
      <ng-template #minlengthError>
        <div *ngIf="firstNameControl.errors?.['minlength']">
          Please enter at least 2 characters.
        </div>
      </ng-template>
    </ng-container>
  </div>
  <div>
    <label>Middle Name:</label>
    <input type="text"
           name="middleName"
           [ngModel]="state === 'add' ? newAuthor.middleName : author.middleName"
           (ngModelChange)="state === 'add' ? newAuthor.middleName = $event : author.middleName = $event"
           [disabled]="state === 'view'"
    />
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text"
           minlength="2"
           name="lastName"
           required
           #lastNameControl="ngModel"
           appCustomValidation
           [ngModel]="state === 'add' ? newAuthor.lastName : author.lastName"
           (ngModelChange)="state === 'add' ? newAuthor.lastName = $event : author.lastName = $event"
           [disabled]="state === 'view'"
    />
    <ng-container *ngIf="lastNameControl.invalid && lastNameControl.touched">
      <div *ngIf="firstNameControl.errors?.['required']; else invalidTextError">
        You must enter a value.
      </div>
      <ng-template #invalidTextError>
        <div *ngIf="lastNameControl.errors?.['invalidText']; else minlengthError">
          Please enter a valid name.
        </div>
      </ng-template>
      <ng-template #minlengthError>
        <div *ngIf="lastNameControl.errors?.['minlength']">
          Please enter at least 2 characters.
        </div>
      </ng-template>
    </ng-container>
  </div>
  <div>
    <label for="birthDate">Birth Date:</label>
    <input
      type="date"
      name="birthDate"
      id="birthDate"
      appCustomValidation
      [validationType]="'date'"
      [ngModel]="state === 'add' ? newAuthor.birthDate : author.birthDate"
      (ngModelChange)="state === 'add' ? newAuthor.birthDate = $event : author.birthDate = $event"
      [disabled]="state === 'view'"
    />
  </div>
  <div *ngIf="state !== 'view'">
    <button class='btn btn-primary' type="submit" [disabled]="form.invalid">{{ state === 'add' ? 'Submit' : 'Update' }}</button>
  </div>
  <div *ngIf="state !== 'add'">
    <app-book [state]="state"></app-book>
  </div>
</form>
