<h2>Add New Book</h2>
<form #form='ngForm' (ngSubmit)="onSubmit()">
  <div>
    <label>Title:</label>
    <input type="text"
           [(ngModel)]="newBook.title"
           name="title"
           required
           minlength="2"
           #titleControl="ngModel"
           appCustomValidation
           [validationType]="'text'"
    >
  </div>
  <ng-container *ngIf="titleControl.invalid && titleControl.touched">
    <div *ngIf="titleControl.errors?.['required']; else invalidTextError">
      You must enter a value.
    </div>
    <ng-template #invalidTextError>
      <div *ngIf="titleControl.errors?.['invalidText']; else minlengthError">
        Please enter a valid title.
      </div>
    </ng-template>
    <ng-template #minlengthError>
      <div *ngIf="titleControl.errors?.['minlength']">
        Please enter at least 2 characters.
      </div>
    </ng-template>
  </ng-container>
  <div>
    <label>Genre:</label>
    <input type="text"
           [(ngModel)]="newBook.genre"
           name="genre"
           required
    >
  </div>
  <div>
    <label>Page Count</label>
    <input type="number"
           [(ngModel)]="newBook.pageCount"
           name="pageCount"
           required
           #pageCountControl="ngModel"
           appCustomValidation
           [validationType]="'number'"
    >
    <div *ngIf="pageCountControl.errors?.['invalidNumber']">
      Please ensure that the page count is 10 or greater. Kindly input a valid number.
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
