<h2>Add New Author</h2>
<form #form='ngForm' (ngSubmit)="onSubmit()">
  <div>
    <label>First Name:</label>
    <input type="text"
           pattern="^[A-Za-z]+$"
           minlength="2"
           [(ngModel)]="newAuthor.firstName"
           name="firstName"
           required
           #nameControl="ngModel"
    />
    <ng-container *ngIf="nameControl.invalid && nameControl.touched">
      <div *ngIf="nameControl.errors?.['required']">
          You must enter a value.
      </div>
      <div *ngIf="nameControl.errors?.['pattern'] || nameControl.errors?.['minlength'] ">
        Please enter a valid name.
      </div>
    </ng-container>
  </div>
  <div>
    <label>Middle Name:</label>
    <input type="text" [(ngModel)]="newAuthor.middleName" name="middleName">
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" [(ngModel)]="newAuthor.lastName" name="lastName" required>
  </div>
  <div>
    <label>Birth Date:</label>
    <input
      type="date"
      [(ngModel)]="newAuthor.birthDate"
      name="birthDate"
      appCustomValidation
    />
  </div>
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
