<h2 class="text-uppercase text-center">{{ isNewBook ? 'Adding Book' : 'Editing Book' }}</h2>
<form #form='ngForm' (ngSubmit)="isNewBook ? onSubmit() : onUpdate()">
  <div>
    <label>Title:</label>
    <input type="text"
           [ngModel]="isNewBook ? newBook.title : updatedBook.title"
           (ngModelChange)="isNewBook ? newBook.title = $event : updatedBook.title = $event"
           name="title"
           required
           minlength="2"
           #titleControl="ngModel"
           appCustomValidation
           [validationType]="'text'"
    >
    <ng-container *ngIf="titleControl.invalid && titleControl.touched">
      <div class="text-danger" *ngIf="titleControl.errors?.['required']; else invalidTextError">
        You must enter a value.
      </div>
      <ng-template #invalidTextError>
        <div class="text-danger" *ngIf="titleControl.errors?.['invalidText']; else minlengthError">
          Please enter a valid title.
        </div>
      </ng-template>
      <ng-template #minlengthError>
        <div class="text-danger" *ngIf="titleControl.errors?.['minlength']">
          Please enter at least 2 characters.
        </div>
      </ng-template>
    </ng-container>
  </div>
  <div>
    <label>Genre:</label>
    <select [ngModel]="isNewBook ? newBook.genre : updatedBook.genre"
            (ngModelChange)="isNewBook ? newBook.genre = $event : updatedBook.genre = $event"
            name="genre"
            required
    >
      <option *ngFor="let genre of genres" [value]="genre.name">{{ genre.name }}</option>
    </select>
  </div>
  <div>
    <label>Pages: </label>
    <input type="number"
           [ngModel]="isNewBook ? newBook.pageCount : updatedBook.pageCount"
           (ngModelChange)="isNewBook ? newBook.pageCount = $event : updatedBook.pageCount = $event"
           name="pageCount"
           required
           #pageCountControl="ngModel"
           appCustomValidation
           [validationType]="'number'"
    >
    <div class="text-danger" *ngIf="pageCountControl.errors?.['invalidNumber']">
      Please ensure that the page count is 10 or greater. Kindly input a valid number.
    </div>
  </div>
  <div>
    <button class='btn btn-primary' type="submit" [disabled]="form.invalid">{{ isNewBook? 'Submit' : 'Update' }}</button>
  </div>
</form>
