<form>
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="author.firstName" name="firstName" required>
  </div>
  <div>
    <label for="middleName">Middle Name:</label>
    <input type="text" id="middleName" [(ngModel)]="author.middleName" name="middleName">
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="author.lastName" name="lastName" required>
  </div>
  <div>
    <label>Birth Date:</label>
    <input type="date" [(ngModel)]="author.birthDate" name="birthDate" required>
  </div>

  <app-book></app-book>

  <div>
    <button type="submit" (click)="update()">Update</button>
  </div>
</form>
