<div class="d-flex justify-content-between align-items-center mt-2 mb-2">
  <div>
    <button class='btn btn-primary' (click)="add()">Add Author</button>
  </div>
  <div class="d-flex align-items-baseline">
    <p>Sort By</p>
    <button class='btn bg-light m-1' (click)="sort('firstName')">First Name</button>
    <button class='btn bg-light m-1' (click)="sort('lastName')">Last Name</button>
    <button class='btn bg-light m-1' (click)="sort('booksNumber')">Books</button>
  </div>
</div>
<div *ngFor="let author of authors" class="card d-flex flex-row mt-3 mb-3">
  <div class="card-body">
    <h5 class="card-title">Author: {{ author.firstName }} {{ author.middleName }} {{ author.lastName }}</h5>
    <p class="card-text">Books: {{ author.books.length }}</p>
  </div>
  <div class="buttons d-flex flex-column">
    <button class='btn btn-primary' (click)="view(author.id!)">View Details</button>
    <button class='btn btn-secondary' (click)="edit(author.id!)">Edit</button>
    <button class='btn btn-danger' (click)="delete(author.id!)">Delete</button>
  </div>
</div>
