<div>
  <button (click)="add()">Add Author</button>
</div>

<button (click)="sort('firstName')">Sort by First Name</button>
<button (click)="sort('lastName')">Sort by Last Name</button>
<button (click)="sort('booksNumber')">Sort by Books Number</button>

<div *ngFor="let author of authors" class="card">
  <div class="card-body">
    <p class="card-text">Author: {{ author.firstName }} {{ author.middleName }} {{ author.lastName }}</p>
    <p class="card-text">Books: {{ author.books.length }}</p>
    <button (click)="view(author.id!)">View Details</button>
    <button (click)="edit(author.id!)">Edit</button>
    <button (click)="delete(author.id!)">Delete</button>
  </div>
</div>
